<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type:"text/css" href="/assets/styles.css">
    <title>Web gallery</title>
</head>

<body>
    <div class="gallery">
        <ul class="boxContainer">
            <li class="box leftArrow"><img class="left" src="../assets/arrow.svg" /></li>
            <li class="box imagePlace"><img id="preview"
                    src="https://d.newsweek.com/en/full/832470/gun-goddess-miss-fortune-league-legends.jpg"
                    alt="Awaiting your command" />
                <div id="slideDescription">
                    something
                </div>
            </li>
            <li class="box rightArrow"><img class="right" src="../assets/arrow.svg" /></li>
        </ul>
        <ul class="thumbnailContainer">
            <%for(let i = 0; i < imgList.length; i++){%>
            <li class="thumbnail image"><img class="smallImage" onclick="getElementById('preview').src=this.src;getElementById('slideDescription').innerHTML=this.getAttribute('alt')" src=<%=imgList[i].url%> alt=<%=imgList[i].alt%></li>
            <% }; %>
        </ul>
    </div>
</body>
<script src="/index.js"></script>

</html>